@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
body,
html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  background-image: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  color: #595959;
  transition-duration: 500ms;
  text-align: center;
}
